@model Ikigenda.Models.Historial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planin.PlaninId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoServicio.TipoServicioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HistorialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
